.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#about-photo {
  width: 85%;
}

.btn {
  background-color: #14293C;
  border-radius: 4px;
  z-index: 5;
  color: white;
}