:root {
  --red: #eb0d0d;
  --yellow: #ffeaa5;
  --blue: #226b80;
  --teal: #40a798;
  --beige: #ffebd3;
  --darkpurple: #240041;
  --purple: #5E5AB7;
  --green: #469749;

  --font-one: 'Roboto', sans-serif;
}